body{
    background-color: orchid;
    margin-top: 0px;
    margin: 0px;
    color: purple;
}

p{
    font-family: Impact;
}

h1 {
    margin-top: 0px;
    padding-top: 25px;
    color: red;
    font-family: Impact;
}

h2 {
    color:gray;
    text-align: center;
    font-family: Impact;
}

h3 {
    padding-left: 50px;
    font-family: Impact;
}

ul {
    padding-left: 100px;
    font-family: Impact;
}

ol{
    padding-left: 50px;
    font-family: Impact;
}

input{
    width: 250px;
    height: 20px;
    background-color: blue;
    font-size: large;
}

button{
    font-family: Impact;
    background-color: brown;
    width: 100px;
    height: 100px;
}

button:hover{
    cursor: pointer;
    background-color: navajowhite
}

.images{
    float:right;
    width:175px;
    height:225px;
    padding-right: 20px;
    padding-top: 50px;
}

#sidebar{
    height: 100%;
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: yellow;
    overflow-x: hidden;
    padding-top: 20px;
}

.main{
    padding: 0px;
    background-color: orchid;
    color: purple;
    text-align: left;
}

img{
    float:right;
    width:200px;
    height:300px
}

a:visited{
    color: peru;
}

#title{
    background-color: lime;
    color: red;
    text-align: center;
    text-shadow: yellow;
    padding-left: 160px;
}

#changestyle1{
    position: absolute;
    left: 30px;
    top: 50px;
}

#changestyle2{
    position: absolute;
    left: 30px;
    top: 160px;
}

#changestyle3{
    position: absolute;
    left: 30px;
    top: 270px;
    background-color: darkturquoise;
}

#pageLayout{
    position: absolute;
    left: 26px;
    top: 0px;
    color: white;
    font-size: 20px;
}

#footer{
    background-color: orange;
    text-align: center;
    color:white;
    padding-left: 160px;
}

#tictactoe{
    position: absolute;
    bottom: 108px;
    left: 0px;
    height: 108px;
    width: 160px;
}

#game{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 108px;
    width: 160px;
}

img {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

img.animateout {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#others{
    position: absolute;
    left: 10px;
    bottom: 220px;
    color: navy;
    font-size: 18px;
    padding-left: 10px;
}

.onenotelinks{
    padding-left: 60px;
}

#linkCounter{
    position:absolute;
    bottom: 270px;
    font-family: impact;
    text-align: center;
    background-color: palegreen;
    border-radius: 15px;
    margin-left: 30px;
    padding: 15px;
}