body{
    background-color: black;
    margin-top: 0px;
    margin: 0px;
    font-size: 25px;
}

p{
    font-family: Arial;
    color: yellow;
}

h1 {
    margin-top: 0px;
    padding-top: 25px;
    color: yellow;
    font-family: Arial;
    font-size: 40px;
}

h2 {
    color:yellow;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
}

h3 {
    padding-left: 20px;
    font-family: Arial;
    color:yellow;
    font-size: 30px;
}

ul {
    padding-left: 75px;
    font-family: Arial;
    color:yellow;
    font-size: 25px;
}

ol{
    padding-left: 75px;
    font-family: Arial;
    color:yellow;
    font-size: 25px;
}

input{
    width: 250px;
    height: 20px;
    background-color: aliceblue;
    font-size: large;
}

button{
    font-family: Arial;
    font-size: large;
    background-color: lightblue;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    width: 60px;
}

button:hover{
    cursor: pointer;
    background-color: orangered;
}

img{
    float:right;
    width:250px;
    height:400px;
    background-color: white;
}

#title{
    background-color: rgba(0, 66, 0, 0.75);
    color: black;
    text-align: center;
}

#changestyle1{
    position: absolute;
    left: 0%;
    top: 70px;
}

#changestyle2{
    position: absolute;
    left: 0%;
    top: 145px;
    background-color: orangered
}

#changestyle3{
    position: absolute;
    left: 0%;
    top: 220px;
}

.changestyle{
    background-color: yellow;
    width: 150px;
    height: 50px;
    border-style: hidden;
}

#pageLayout{
    position: absolute;
    left: 0%;
    top: 0px;
    color: yellow;
    font-size: 25px;
}

a:visited{
    color: red;
}

#footer{
    background-color: #17161a;
    text-align: center;
    color:yellow;
}

#tictactoe{
    position: absolute;
    top: 20px;
    left: 90%;
}
